* {

    padding: 0;
    margin: 0;
}

#container-fluid {
    display: flex;
    justify-content: space-between;
}
.container{
    background-repeat: no-repeat;
    background: url("assets/Header\ bg.svg");
    background-color: #fff;
    background-position:center center;
    background-size:100%;
    min-height: 42rem;
    width: 100%;
}